/* SeatSelection.css */

.seat-selection-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

.legend {
  display: flex;
  gap: 10px;
  margin-bottom: 10px;
}

.indicator {
  width: 20px;
  height: 20px;
  border-radius: 50%;
}

.available {
  background-color: blue;
}

.selected {
  background-color: green;
}

.occupied {
  background-color: gray;
}

.screen {
  width: 80%;
  height: 20px;
  background-color: #ccc;
  margin-bottom: 20px;
  text-align: center;
  color: white;
  line-height: 20px;
  border-radius: 5px;
}

.seat-grid {
  display: grid;
  gap: 5px;
  margin-bottom: 20px;
}

.seat {
  width: 30px;
  height: 30px;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-size: 0.8em;
  cursor: pointer;
  border: none;
}

.seat.available {
  background-color: blue;
}

.seat.available:hover {
  background-color: darkblue;
}

.seat.selected {
  background-color: green;
}

.seat.occupied {
  background-color: gray;
  cursor: not-allowed; /* Indica que no se puede interactuar */
}

.selected-info {
  margin-top: 20px;
  font-weight: bold;
}

.seat.occupied {
  background-color: gray;
  cursor: not-allowed;
}

.seat.selected {
  background-color: green; /* O el color verde que prefieras */
  color: white; /* O el color de texto que prefieras para los asientos seleccionados */
}